*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
my-app/node_modules
my-app/dist
my-app/*.log

react-router-test-app/node_modules
react-router-test-app/dist
react-router-test-app/*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
